<h1 class="text-center mb-4">Change Password</h1>
<form action="" method="post" style="width: 500px; margin: 0 auto">
  <% if (msg.length) { %>
  <div class="alert alert-success"><%= msg %></div>
  <% } %>
  <div class="d-flex mb-4 justify-content-center">
    <label for="oldPassword" style="width: 140px">Password old:</label>
    <div class="w-50">
      <input
        type="password"
        name="oldPassword"
        placeholder="Password old..."
        class="form-control"
        id="oldPassword"
        value="<%= req.old?.oldPassword %>"
      />
      <%- req.errors?.oldPassword ? `<span class="text-danger"
        >${req.errors?.oldPassword}</span
      >`: '' %>
    </div>
  </div>
  <div class="d-flex mb-4 justify-content-center">
    <label for="newPassword" style="width: 140px">Password new:</label>
    <div class="w-50">
      <input
        type="password"
        name="newPassword"
        placeholder="Password new..."
        class="form-control"
        id="newPassword"
        value="<%= req.old?.newPassword %>"
      />
      <%- req.errors?.newPassword ? `<span class="text-danger"
        >${req.errors?.newPassword}</span
      >`: '' %>
    </div>
  </div>
  <div class="d-flex mb-4 justify-content-center">
    <label for="confirmPassword" style="width: 140px">Confirm Password :</label>
    <div class="w-50">
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password..."
        class="form-control"
        id="confirmPassword"
        value="<%= req.old?.confirmPassword %>"
      />
      <%- req.errors?.confirmPassword ? `<span class="text-danger"
        >${req.errors?.confirmPassword}</span
      >`: '' %>
    </div>
  </div>
  <div class="d-flex justify-content-center gap-2">
    <button class="btn btn-primary w-40">Change Password</button>
    <a class="btn btn-danger w-40" href="/profile" ">Return</a>
  </div>
</form>
